@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

.title-slide{
  color: black;
  font-weight: bold;
  font-family: 'Quicksand'; 
  background-color: #d9dcde;
}

.body{
  font-family: 'Syne Mono', 'monospace';
  color: red;
}

.cite{
  font-family: Times New Roman;
  font-size: 30px;
  font-style: italic;
}

h1 {
  margin: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #ee4b22;
}

h1.titleheader{
  text-shadow: 5px 5px black;
  text-align: center;
}

h2 {
  margin: 0;
  margin-top: 30px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 10px;
  color: steelblue;
  font-style: italic;
}

.h2b{
  color: black;
}

h3{
  margin-bottom: 1px;
}

.lr{
  position: absolute;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 550px;
  color: purple;
  font-size: 20px;
}


.ho{
  transition: transform .8s; /* Animation */
  width: 800px;
  height: 350px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.ho:hover{
  transform: scale(1.1);
}

.white{
  color: white;
}


.blue{
  color: steelblue;
}


.small{
  font-size: 50%;
}

.small2{
  font-size: 85%;
}


.remark-slide-content {
  font-family: 'Quicksand';
}

.remark-slide-content h2{
  font-family: 'Quicksand';
  font-size: 30px;
}
.remark-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
font-size: 10px;
}

.bold{
  font-family: Times New Roman;
  font-size: 30px;
}

.remark-slide table {
  font-family: 'DotGothic16';
}

.oq{
  background-color: darkgrey;
}

pre{
  overflow-y: scroll;
}

.bt{
  position: absolute;
  margin-bottom: 5%;
  margin-top: 20%;
  color: Steelblue;
  font-size: 3em;
  font-weight: bold;
  color: firebrick;
}

#spinner {
	background: black;
	position: fixed;
	top: 35%;
	left: 39%;
	width: 20vw;
	height: 10vw;
}

.purple{
  color: purple;
  font-weight: bold;
}

#funny{
  position: fixed;
  top: 10%;
  left: 30%;
  width: 15vw;
  border: 1px solid black;
  box-shadow: 5px 10px;
}

.btc{
  position: fixed;
  top: 85%;
  left: 10%;
}

.apup{
  position:absolute;
  top: 40%;
  left: 30%;
  color: black;
  background-color: white;
  box-shadow: 5px 10px;
}

.nd{
  font-family: "Sigmar One";
  position: absolute;
  top: 13%;
  left: 8%;
  -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.bib{
  font-size: 12px;
  color: darkblue;
}

.arr {
    position: absolute;
    top: 43%;
    left: 44%;
    width: 330px;
    z-index: 1;
}

.dist{
  position: absolute;
  top: 0%;
  left: 60%;
  width: 200px;
  margin-top: -20px;
}

.dist2{
  position: absolute;
  top: 0%;
  left: 10%;
  width: 330px;
}

.stop{
  width: 50px;
  height: 50px;
  background-color: green;
}
