@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.title-slide{
  color: #ee4b22;
  font-family: 'Quicksand'; 
  background-color: #d9dcde;
}

.body{
  font-family: 'Syne Mono', 'monospace';
  color: red;
}

.cite{
  font-family: Times New Roman;
  font-size: 30px;
  font-style: italic;
}

h1 {
  margin: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #ee4b22;
}

h2 {
  margin: 0;
  margin-top: 30px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 10px;
  color: steelblue;
  font-style: italic;
}


.ho{
  transition: transform .8s; /* Animation */
  width: 800px;
  height: 400px;
  margin: 0 0; 
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.ho:hover{
  transform: scale(1.1);
}

.white{
  color: white;
}


.blue{
  color: steelblue;
}


.small{
  font-size: 50%;
}


.remark-slide-content {
  font-family: 'Quicksand';
}

.remark-slide-content h2{
  font-family: 'Quicksand';
  font-size: 30px;
}
.remark-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
font-size: 10px;
}

.bold{
  font-family: Times New Roman;
  font-size: 30px;
}

.remark-slide table {
  font-family: 'DotGothic16';
}

.oq{
  background-color: darkgrey;
}

pre{
  overflow-y: scroll;
}

.bt{
  position: absolute;
  margin-bottom: 5%;
  margin-top: 20%;
  color: Steelblue;
  font-size: 3em;
  font-weight: bold;
  color: firebrick;
}